<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AntiGuyDoPietra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AntiGuyDoPietra.Properties.Settings>
            <setting name="XMousePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YMousePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TriggerKey" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="DelayAfterOpenInventory" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DelayBetweenClicks" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfClicks" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MouseButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InventoryKey" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="DelayBeforeOpenInventory" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DelayHoldGrenadeFor" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TriggerMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TriggerCount" serializeAs="String">
                <value>0</value>
            </setting>
        </AntiGuyDoPietra.Properties.Settings>
    </userSettings>
</configuration>